@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers Planet - Zmiana hasła</title>
    <link rel="stylesheet" href="~/css/details.css">
</head>
<body>
    <div class="dashboard">
        <div class="menu">
            <ul>
                <li><a href="/admin">Kokpit</a></li>
                <li><a href="/admin/orders">Zamówienia</a></li>
                <li><a href="/admin/users">Użytkownicy</a></li>
                <li><a href="/admin/sneakers">Obuwie</a></li>
                <li><a href="/admin/clothes">Ubrania</a></li>
                <li><a href="/admin/accessories">Akcesoria</a></li>
                <li><a href="/logout">Wyloguj się</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Zmiana hasła użytkownika</h1>
            <p>Zmiana hasła użytkownika: @Model.FirstName @Model.LastName</p>
            <p>Zmiana hasła jest nieodwracalna</p>
            <div class="form-container">
                <form asp-action="ChangePassword" asp-route-userId="@Model.Id" method="post">
                    <label>
                        <span>Nowe hasło:</span>
                        <input type="password" name="newPassword" required>
                    </label>
                    <label>
                        <span>Potwierdź nowe hasło:</span>
                        <input type="password" name="confirmPassword" required>
                    </label>
                    <button type="submit">Zmień hasło</button>
                </form>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="error-message">
                        <p>@TempData["ErrorMessage"]</p>
                    </div>
                }
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="success-message">
                        <p>@TempData["SuccessMessage"]</p>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
