@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers planet</title>
    <link rel="stylesheet" href="/css/adress.css">
</head>
<body>
    <div class="dashboard">
        <div class="menu">
            <ul>
                <li><a href="/account">Kokpit</a></li>
                <li><a href="/account/orders">Zamówienia</a></li>
                <li><a href="/account/adress">Adres</a></li>
                <li><a href="/account/details">Szczegóły konta</a></li>
                <li><a href="/logout">Wyloguj się</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Adres rozliczenia i dostawy</h1>
            <p>Następujący adres zostanie domyślnie użyty na stronie zamówienia.</p>
            <div class="form-container">
                <form asp-action="Adress" method="post">
                    <label>
                        <span>Imię:</span>
                        <input type="text" id="name" name="FirstName" value="@Model.FirstName" required>
                    </label>
                    <label>
                        <span>Nazwisko:</span>
                        <input type="text" id="surname" name="LastName" value="@Model.LastName" required>
                    </label>
                    <label>
                        <span>Kod pocztowy:</span>
                        <input type="text" id="postal" name="PostalCode" value="@Model.PostalCode" required>
                    </label>
                    <label>
                        <span>Miejscowość:</span>
                        <input type="text" id="city" name="City" value="@Model.City" required>
                    </label>
                    <label>
                        <span>Adres:</span>
                        <input type="text" id="adress" name="Address" value="@Model.Address" required>
                    </label>
                    <button type="submit">Zapisz zmiany</button>
                </form>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="success-message">
                        <p>@TempData["SuccessMessage"]</p>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
